$color-primary:#023047;
$color-bg:#022231;
$color-contrasting:#FFB703;
$color-text:#FB8500;
$color-blue:#219EBC;
$color-lightblue:#cff3eb;
$color-warning:#c7576b;
$color-black:#000;
$color-white:#fff;

$spacer-md:5px;
$spacer-0:0px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;
$spacer-6:60px;

$font-xsm:12px;
$font-sm:14px;
$font-md:16px;
$font-xl:18px;
$font-xxl:20px;
$font-subheading:24px;
$font-heading:30px;