@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

.createemp-module {
    padding-bottom: $spacer-4;

    .heading {
        padding-top: 80px;
        color: $color-white;
        text-align: center;
        background-color: $color-bg;
        height: 400px;
        line-height: 35px;
    }

    .heading-text {
        font-size: $font-heading;
        font-weight: 300;
    }
    .container{
        padding: $spacer-0 $spacer-3;
    }
    .emp-list{
        padding: $spacer-2 $spacer-0;
        margin-top: -250px;
        background-color: $color-white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

@include mobile{
    .createemp-module{
        .heading{
            height: 450px;
        }
    }
}