@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

.base-body{
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 250px;
    z-index: 0;
    top: 0;
    transition: all 0.5s ease;
}
.body-trimmed{
    width: calc(100% - 250px);
    margin-left: 250px;
}
.body-md-screen{
    width: calc(100% - 75px);
    margin-left: 75px;
}