<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/employees"><img src="../../../assets/images/Group (5).svg" width="150px"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/employees" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="leavapply" routerLinkActive="active">Leave Application</a>
                </li>
            </ul>
            <div class="user-div">
                <div class="pic">
                    <img src="../../../assets/images/{{userInfo.image}}" alt="">
                </div>
                <div class="name">
                    <button mat-button [matMenuTriggerFor]="Menu">{{userInfo.firstname}} {{userInfo.lastname}}<fa-icon
                            class="logout-icon" [icon]="faAngleDown"></fa-icon></button>
                    <mat-menu #Menu="matMenu">
                        <button mat-menu-item (click)="logout()"><fa-icon class="pe-3"
                                [icon]="faUserLock"></fa-icon>Logout</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</nav>