<footer class="empfooter-module">
    <div class="container">
        <div class="footer">
            <div class="logo-div">
                <a  routerLink="/employees"><img src="../../../assets/images/Group (5).svg" width="150px" alt=""></a>
                <div class="links">
                    <a class="page-links right-border" routerLink="/employees">Home</a>
                    <a class="page-links left-padd" routerLink="leavapply">Leave Application</a>
                </div>
                <p class="company-name">Beinex @ 2023</p>
            </div>
            <div class="contact-div">
                <div class="icon-div">
                    <p class="icons"><fa-icon [icon]="faMapMarked"></fa-icon></p>
                    <p class="icons"><fa-icon [icon]="faPhoneAlt"></fa-icon></p>
                    <p class="icons"><fa-icon [icon]="faEnvelope"></fa-icon></p>
                </div>
                <div class="info-div">
                    <p class="info">Infopark | Kochi</p>
                    <p class="info">+91 - 9188721473</p>
                    <p class="info">beinex@gmail.com</p>
                </div>
            </div>
            <div class="about-div">
                <p class="about-head">About the Company</p>
                <p class="about-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, minima quos temporibus eius
                    laudantium magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, minima quos temporibus eius
                    laudantium magni.</p>
            </div>
        </div>
    </div>
</footer>