@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.reset-module{
    .reset-form{
        width: 60%;
    }

    .input-div{
        padding: $spacer-1 $spacer-0;
        height: 65px;
    }
    .form-control{
        background-color: transparent;
        color: $color-lightblue;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $color-lightblue;
        font-size: $font-sm;
        letter-spacing: 1px;

        &::placeholder{
            color: $color-lightblue;
            letter-spacing: 1px;
        }

        &:focus{
            box-shadow: none;
        }
    }

    .password-div {
        position: relative;

        .icon-password {
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 20px;
            font-size: $font-xsm;
        }
    }
    .btn-div{
        padding-top: $spacer-2;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
    .btn-reset{
        background-color: $color-contrasting;
        color: $color-primary;
        padding: $spacer-md $spacer-3;
        border-radius: 50px;
        font-weight: 600;
        
        &:hover .btn-icon {
            animation: rotateicon 1s ease-in-out;
        }
    }
    .link{
        padding-top: $spacer-2;
        font-size: $font-sm;
        color: $color-contrasting;
    }
    .login-link{
        font-size: $font-sm;
        color: $color-contrasting;
        padding-left: $spacer-1;
    }
    .warning-message{
        color: $color-warning;
        font-size: $font-xsm;
    }
}

@include tablet{
    .reset-module{
        .reset-form{
            width: 80%;
        }
    }
}