<div class="reset-module">
    <form class="reset-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="input-div">
            <input type="text" name="username" pattern="^[a-zA-Z\s\.]*$" formControlName="username" placeholder="Username" class="form-control">
            <small class="warning-message" *ngIf="this.resetPasswordForm.get('username')?.touched && this.resetPasswordForm.get('username')?.invalid">Please enter a valid username</small>
        </div>
        <div class="input-div password-div">
            <input [type]="showPassword?'text':'password'" minlength="3" name="password" formControlName="password" placeholder="New password" class="form-control">
            <i class="fa-regular icon-password" [ngClass]="showPassword?'fa-eye':'fa-eye-slash'" (click)="passwordVisibility()"></i>
            <small class="warning-message" *ngIf="this.resetPasswordForm.get('password')?.touched && this.resetPasswordForm.get('password')?.invalid">Please enter a valid password</small>
        </div>
        <div class="input-div password-div">
            <input [type]="showCPassword?'text':'password'" minlength="3" name="cpassword" formControlName="cpassword" placeholder="Confirm password" class="form-control">
            <i class="fa-regular icon-password" [ngClass]="showCPassword?'fa-eye':'fa-eye-slash'" (click)="cpasswordVisibility()"></i>
            <small class="warning-message" *ngIf="this.resetPasswordForm.get('cpassword')?.touched && (this.resetPasswordForm.get('cpassword')?.invalid || this.resetPasswordForm.value.cpassword!=this.resetPasswordForm.value.password)">Password should match</small>
        </div>
        <div class="btn-div">
            <button class="btn btn-reset">Reset password <i class="fa-solid fa-arrows-rotate btn-icon"></i></button>
            <div class="link d-flex">
                <p>Existing user? </p>
                <a class="login-link" routerLink="/login">Login</a>
            </div>
            
        </div>
    </form>
</div>