@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

.content-div {
    .label-div {
        padding: 15px;
        background-color: $color-primary;
        color: $color-contrasting;
        width: 40%;
        font-size: $font-xl;
        font-weight: 500;
        text-align: right;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-left: -30px;
    }

    .leave-info {
        padding-top: $spacer-2;
        flex-wrap: wrap;

    }
    .no-leave{
        font-size: $font-md;
        font-style: italic;
        font-weight: 600;
        text-align: center;
        color: $color-text;
        padding-bottom: $spacer-4;
    }
    .card {
        border: none;
        min-width: 200px;

        .card-title {
            font-size: $font-md;
            font-weight: 600;
            padding-bottom: $spacer-md;
        }
    }
}

@include mobile {
    .content-div {
        .label-div {
            width: 80%;
        }
    }
}